header{
  box-sizing: content-box !important;
}
.hd-bord li::after {
  height: 2px !important;
}
.welcome{
    background-image: url(../images/cris-work.png);
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    box-shadow: inset 0 150px 80px 0 rgba(50, 50, 93, 0.25);
}
.shadow{
    width: 100%;
    height: 100%;
    
    box-shadow: inset 0 160px 70px 0 rgba(0, 0, 0, 0.25);
}
.welcome-text{
    padding-top: 240px;
}
.slider-text h1{
  font-size: bold;
  font-size: 45px;
  text-align: center;
  color: white;
}
.welcome h1{
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 900;
    color: white;
    margin-top: 0;
    text-align: right;
    text-shadow: 0 0 20px black;
}
.welcome p{
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-align: right;
    margin-top: 10px;
    text-shadow: 0 0 15px black;
}
.accent{
    color: #FECE76;
}
.elements-grid{
    display: grid;
    grid-template-columns: repeat(2,513px);
    grid-template-rows: repeat(4, 270px);
    column-gap: 110px;
    row-gap: 110px;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 110px;
}
.proj-el{
  background-color: white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.text-project{
  position: absolute;
  width: 308px;
  right: 0;
  height: 100%;
  padding: 20px;
  padding-left: 35px;
}
.proj-img{
    background-image: url(../images/cris-work.png);
    width: 40%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
}
.text-project h3{
  font-size: 25px;
  font-weight: bold;
  color: #FECE76;
  text-transform: uppercase;
  line-height: 31px;
  letter-spacing: 2px;
}
.text-project p{
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 5px;
}
.more{
  display: flex;
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  padding-top: 0;
}
.text-project .more p{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FECE76;
  padding-top: 0;
}
.more-img{
  width: 16px;
  height: 19px;
  transform: rotate(-90deg);
}
.achiv{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 60px;
}
.achiv img{
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.h1-team h1{
    font-size: 50px;
    font-weight: bold;
    color: #131313;
    text-transform: uppercase;
    text-align: center;
    padding-top: 80px;
}
.ready-projects{
  background-color: white;
  
}


.hd-bord .proj::after{
    width: 100%;
}

/* Dev Slider Start*/

pre, textarea {
  overflow: auto;
}

[hidden], audio:not([controls]), template {
  display: none;
}

details, main, summary {
  display: block;
}

input[type=number] {
  width: auto;
}

input[type=search], input[type=text], input[type=email] {
  -webkit-appearance: none;
}

input[type="*"] {
  -webkit-appearance: none;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

progress {
  display: inline-block;
}

small {
  font-size: 100%;
}

textarea {
  resize: vertical;
}

[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
section{
  background-color: #131313;
}

*, ::after, ::before {
  box-sizing: inherit;
  border-style: solid;
  border-width: 0;
}

* {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

::after, ::before {
  text-decoration: inherit;
  vertical-align: inherit;
}

:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  cursor: default;
  font: 16px/1.5 sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

button, input, select, textarea {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  min-height: 1.5em;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
}

nav ol, nav ul {
  list-style: none;
}

ul li {
  list-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection {
  background-color: #B3D4FC;
  text-shadow: none;
}

::selection {
  background-color: #B3D4FC;
  text-shadow: none;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
  }
}
html {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  -webkit-tap-highwhite-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}



.heading-2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  color: #000;
  letter-spacing: 0.3px;
}

.heading-2--white {
  color: #FFF;
}
.text-slider{
  position: absolute;
  right: 0;
  height: 100%;
  padding: 30px;
  width: 328px;
}

.serif {
  font-size: 20px;
  font-weight: 400;
  color: #191d20;
}

@media (max-width: 400px) {
  .serif {
    font-size: 20px;
    line-height: 32px;
  }
}
.img-slider {
  background-image: url(../images/so-cfu.png);
  width: 272px;
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading-3 {
  font-size: 27px;
  font-weight: bold;
  line-height: 25px;
  color: #fece76;
  letter-spacing: 0.3px;
}
.stats-line{
    align-items: center;
    margin-bottom: 25px;
    padding-top: 26px;
}
.stats-line p{
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 11px;
}
.stats{
    position: relative;
    margin-top: 38px;
}
.bk-bar{
    background-color: #737373;
    width: 244px;
    height: 28px;
    border-radius: 19px;
    position: absolute;
    overflow: hidden;
}
.ready-bar{
    background-color: #FECE76;
    height: 28px;
    border-radius: 19px;
}

.heading-3 + .heading-3 {
  margin-top: 5px;
}

.heading-3--white {
  color: #FFF;
}

.heading-3--light {
  color: #848995;
}

.text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #848995;
  letter-spacing: 0px;
}

@media (max-width: 600px) {
  .text {
    font-size: 16px;
    line-height: 30px;
  }
}
.text--light-white {
  color: rgba(255, 255, 255, 0.7);
}

.link {
  position: absolute;
  display: inline-block;
  font-weight: 500;
  color: #5050FF;
  bottom: 0;
  padding-bottom: 30px;
  font-size: 25px;
}

.link:after {
  position: absolute;
  top: 50%;
  right: -32px;
  display: block;
  width: 24px;
  height: 14px;
  background-image: url("../images/slider/arrow__right--blue.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: '';
  transform: translateY(-50%);
  transition: all 0.2s ease;
}

.link:hover:after {
  right: -48px;
}


.slider__item {
  transition: all 0.3s ease;
  -webkit-transition-timing-function: 
    cubic-bezier(0.4, 0.0, 0.2, 1);
		transition-timing-function: 
     cubic-bezier(0.4, 0.0, 0.2, 1);
}
.slider__item-content{
  position: relative;
  z-index: 2;
  transform: translate(0) scale(1);
  width: 600px;
  height: 397px;
}

#slide-1:checked ~ .slider__holder .slider__item--1 {
  position: relative;
  z-index: 2;
  transform: translate(0) scale(1);
  width: 600px;
  height: 397px;
}


#slide-2:checked ~ .slider__holder .slider__item--1 {
  z-index: 1;
  transform: translateX(-125px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-2:checked ~ .slider__holder .slider__item--1 {
    opacity: 0.6;
  }
}
#slide-3:checked ~ .slider__holder .slider__item--1 {
  z-index: 0;
  transform: translateX(-235px) scale(0.65);
}

@media (max-width: 900px) {
  #slide-3:checked ~ .slider__holder .slider__item--1 {
    transform: translateX(-195px) scale(0.65);
  }
}
@media (max-width: 768px) {
  #slide-3:checked ~ .slider__holder .slider__item--1 {
    opacity: 0;
  }
}
#slide-4:checked ~ .slider__holder .slider__item--1 {
  z-index: -1;
  opacity: 0;
  transform: translateX(-235px) scale(0.65);
}

#slide-5:checked ~ .slider__holder .slider__item--1 {
  z-index: -1;
  opacity: 0;
  transform: translateX(-235px) scale(0.65);
}

#slide-1:checked ~ .slider__holder .slider__item--2 {
  z-index: 1;
  transform: translateX(125px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-1:checked ~ .slider__holder .slider__item--2 {
    opacity: 0.6;
  }
}
#slide-2:checked ~ .slider__holder .slider__item--2 {
  position: relative;
  z-index: 2;
  transform: translate(0) scale(1);
}

#slide-3:checked ~ .slider__holder .slider__item--2 {
  z-index: 1;
  transform: translateX(-125px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-3:checked ~ .slider__holder .slider__item--2 {
    opacity: 0.6;
  }
}
#slide-4:checked ~ .slider__holder .slider__item--2 {
  z-index: 0;
  transform: translateX(-235px) scale(0.65);
}

@media (max-width: 900px) {
  #slide-4:checked ~ .slider__holder .slider__item--2 {
    transform: translateX(-195px) scale(0.65);
  }
}
@media (max-width: 768px) {
  #slide-4:checked ~ .slider__holder .slider__item--2 {
    opacity: 0;
  }
}
#slide-5:checked ~ .slider__holder .slider__item--2 {
  z-index: -1;
  opacity: 0;
  transform: translateX(-235px) scale(0.65);
}

#slide-1:checked ~ .slider__holder .slider__item--3 {
  z-index: 0;
  transform: translateX(235px) scale(0.65);
}

@media (max-width: 900px) {
  #slide-1:checked ~ .slider__holder .slider__item--3 {
    transform: translateX(195px) scale(0.65);
  }
}
@media (max-width: 768px) {
  #slide-1:checked ~ .slider__holder .slider__item--3 {
    opacity: 0;
  }
}
#slide-2:checked ~ .slider__holder .slider__item--3 {
  z-index: 1;
  transform: translateX(125px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-2:checked ~ .slider__holder .slider__item--3 {
    opacity: 0.6;
  }
}
#slide-3:checked ~ .slider__holder .slider__item--3 {
  position: relative;
  z-index: 2;
  transform: translate(0) scale(1);
}

#slide-4:checked ~ .slider__holder .slider__item--3 {
  z-index: 1;
  transform: translateX(-125px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-4:checked ~ .slider__holder .slider__item--3 {
    opacity: 0.6;
  }
}
#slide-5:checked ~ .slider__holder .slider__item--3 {
  z-index: 0;
  transform: translateX(-235px) scale(0.65);
}

@media (max-width: 900px) {
  #slide-5:checked ~ .slider__holder .slider__item--3 {
    transform: translateX(-195px) scale(0.65);
  }
}
@media (max-width: 768px) {
  #slide-5:checked ~ .slider__holder .slider__item--3 {
    opacity: 0;
  }
}
#slide-1:checked ~ .slider__holder .slider__item--4 {
  z-index: -1;
  opacity: 0;
  transform: translateX(235px) scale(0.65);
}

#slide-2:checked ~ .slider__holder .slider__item--4 {
  z-index: 0;
  transform: translateX(235px) scale(0.65);
}

@media (max-width: 900px) {
  #slide-2:checked ~ .slider__holder .slider__item--4 {
    transform: translateX(195px) scale(0.65);
  }
}
@media (max-width: 768px) {
  #slide-2:checked ~ .slider__holder .slider__item--4 {
    opacity: 0;
  }
}
#slide-3:checked ~ .slider__holder .slider__item--4 {
  z-index: 1;
  transform: translateX(125px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-3:checked ~ .slider__holder .slider__item--4 {
    opacity: 0.6;
  }
}
#slide-4:checked ~ .slider__holder .slider__item--4 {
  position: relative;
  z-index: 2;
  transform: translate(0) scale(1);
}

#slide-5:checked ~ .slider__holder .slider__item--4 {
  z-index: 1;
  transform: translateX(-125px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-5:checked ~ .slider__holder .slider__item--4 {
    opacity: 0.6;
  }
}
#slide-1:checked ~ .slider__holder .slider__item--5 {
  z-index: -1;
  opacity: 0;
  transform: translateX(235px) scale(0.65);
}

#slide-2:checked ~ .slider__holder .slider__item--5 {
  z-index: -1;
  opacity: 0;
  transform: translateX(235px) scale(0.65);
}

#slide-3:checked ~ .slider__holder .slider__item--5 {
  z-index: 0;
  transform: translateX(235px) scale(0.65);
}

@media (max-width: 900px) {
  #slide-3:checked ~ .slider__holder .slider__item--5 {
    transform: translateX(195px) scale(0.65);
  }
}
@media (max-width: 768px) {
  #slide-3:checked ~ .slider__holder .slider__item--5 {
    opacity: 0;
  }
}
#slide-4:checked ~ .slider__holder .slider__item--5 {
  z-index: 1;
  transform: translateX(125px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-4:checked ~ .slider__holder .slider__item--5 {
    opacity: 0.6;
  }
}
#slide-5:checked ~ .slider__holder .slider__item--5 {
  position: relative;
  z-index: 2;
  transform: translate(0) scale(1);
}

.bullets__item {
  transition: all 0.2s ease;
}

#slide-1:checked ~ .bullets .bullets__item--1 {
  background: #FFF;
}

#slide-2:checked ~ .bullets .bullets__item--2 {
  background: #FFF;
}

#slide-3:checked ~ .bullets .bullets__item--3 {
  background: #FFF;
}

#slide-4:checked ~ .bullets .bullets__item--4 {
  background: #FFF;
}

#slide-5:checked ~ .bullets .bullets__item--5 {
  background: #FFF;
}

.card {
  position: relative;
  display: block;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.slider {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider__radio {
  display: none;
}

.slider__holder {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: left;
}

@media (max-width: 900px) {
  .slider__holder {
    max-width: 540px;
  }
}
@media (max-width: 600px) {
  .slider__holder {
    margin-top: 60px;
  }
}
.slider__item {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  opacity: 1;
  cursor: pointer;
}

.slider__item-content {
}

@media (max-width: 600px) {
  .slider__item-content {
    padding: 32px 32px;
  }
}
@media (max-width: 375px) {
  .slider__item-content {
    padding: 40px 24px;
  }
}
.slider__item-text {
  padding: 30px 0 0;
  line-height: 24px;
}
.push{
  width: 150px;
  margin-right: 1000px;
  margin-top: -90px;
}
.section {
  position: relative;
  width: 100%;
  padding: 75px 120px 100px;
  text-align: center;
}

.section__entry {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
}

.section__entry--center {
  text-align: center;
}

.section__title {
  display: block;
  padding-bottom: 12px;
}

.section__text {
  display: block;
}

.button {
  display: inline-block;
  height: 44px;
  padding: 12px 16px;
  font-weight: 500;
  line-height: 20px;
  color: #FFF;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.2);
}

.button:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* Dev Slider end*/